@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
    var isActive = "";
}
<div class="row">
    @foreach (var product in Model.Products)

    {
        if (count != 0 && count % 3 == 0)
        {
        @:</div>
        @:<div class="row">
        }
        <partial name="_ProductSummary" model="@product" />
        count++;
    }
</div>
<ul class="pagination">
    @for (int i = 1; i <= Model.PagingInfo.TotalPageCount; i++)
    {
        isActive = i == Model.PagingInfo.CurrentPage ? "active" : "";
        <li class="page-item @isActive">
            <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-category="@Model.CategoryId">@i</a>
        </li>
    }
</ul>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('.sepet').on('click', function () {
                let name = $(this).data('name');
                let pId = $(this).data('id');
                //  alertify.success(name + ' Sepete Eklendi');
                $.ajax({
                    url: 'Cart/AddToCart?id=' + pId,
                    type: 'GET',
                    success: function (data) {
                        alertify.success(data + ' sepete eklendi');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            })

        })
    </script>
}